<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <remove name="mySQLconn"/>
    <add name="mysqlconn" connectionString="data source=localhost;database=greenfield;user id=root; password=''" providerName="mysql.data.mysqlclient"/>
    <!--<add name="mysqlconn" connectionString="server=198.71.225.64; port=3306; database=st_xavier;user id=st_xavier; pooling=true; password=123456; persist security info=true" providerName="mysql.data.mysqlclient"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
